@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

html,
body {
    font-family: 'Montserrat';
}
.container-fluid{
    padding: 0px !important;
}

.row-full{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.view{
    height: auto;
    margin-bottom: 30px;
}
.nav {
    background-color: #33b5e5;
}

.nav-item {
    padding: 5px;
}
#hero {
    padding: 60px 0px 320px;
}

hr {
    width: 50px;
    border-top: 4px solid rgba(0,0,0,1);
    margin-bottom: 20px;
}

.decorative{
    font-family: 'Amatic SC', regular;
    letter-spacing: 0rem;
    line-height: 3rem;    
} 

h2{
    font-size: 3rem;
} 

li.list-group-item:hover{
    background-color: rgba(121,132,195,1);
    color: #ffffff;
} 

#title {
    text-align: center;
    margin-bottom: 35px;
}

.card {
    margin-bottom: 35px;
}

